/* 



body
The background color is #efeee7 .
The font used “Georgia”,Times New Roman,Times,serif;.
The font color is #333333 .
Be sure to zero out the body margins and padding so the page is flush to the top of the page:
body {
  margin: 0;
  padding: 0;
}
header
The background color is #333333 .
h1
The font color is #eee.
The font size is 28px.
Look at the example on the screen, and eyeball the padding and/or margins and positioning of the text.
h2
The font size is 24px
Make the container have a width of 1024 pixels, and center it. You do this using margin: 0 auto;.
Make #main-bio, #contact-info, #bio-image all float: left.
Make the #bio-image have a width of 200 pixels.
Be sure to include alt text in all images
#main-bio should have a width of 70%.
Add margins to the image so there is distance between it and the bio text.
#content-info should have a width of 30%.
Adjust the line height so it is 1.5 times the size of the font.
Make the link color #d21034 .
If you forgot how to write the CSS properties, you can reference all CSS properties here https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

Bonus:

Stage, commit, and push this new file to Github.

*/

body {
	background-color: #efeee7;
	color: #333;
	font-family: "Georgia",Times New Roman,Times,serif;
	margin: 0;
  	padding: 0;
}

h1 {
	background-color: #333;
	color: #eee;
	font-size: 28px;
	padding: 10px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

a { color: #d21034; }

.container {
	margin : 0 auto;
	width: 1024px;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#bio-image {
	margin: 0 10px 0 0;
	width: 200px;
}

#main-bio {
	width: 70%;
}

#content-info {
	line-height: 1.5;
	width: 30%;}

/*

img {
	margin: 10px;
	width: 200px;
}

*/